<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ACM UNO Chapter | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/file-icon-vivid.min.css')}}">
	{% endblock %}
</head>
<body>
	<div id="header">
		{% block header %}
		<nav id="navigation_section" class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="{{url_for('main.index')}}"><img src="{{url_for('static', filename='images/ACM_logo_longer.png')}}" alt="ACM Logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link {% block about_active %}{% endblock %}" href="{{url_for('main.about')}}">About us</a>
				<a class="nav-item nav-link {% block events_active %}{% endblock %}" href="{{url_for('main.events')}}">Events</a>
				<a class="nav-item nav-link {% block blog_active %}{% endblock %}" href="{{url_for('blog.index')}}">Blog</a>
				<a class="nav-item nav-link {% block suggestions_active %}{% endblock %}" href="{{url_for('suggestion.suggestion_new')}}">Give a Suggestion</a>
				<a class="nav-item nav-link {% block documents_active %}{% endblock %}" href="{{url_for('main.documents')}}">Documents</a>
				{% if session.get('user', ('public', None))[0] == 'admin' %}
					<a class="nav-item nav-link {% block admin_active %}{% endblock %}" href="{{url_for('admin.index')}}">Admin Dashboard</a>
					<a class="nav-item nav-link" href="{{url_for('admin.logout')}}">Sign Out</a>
				{% endif %}
			</div>
			</div>
		</nav>
		{% endblock  %}
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
	<div class="push"></div>
	<div id="footer">
		{% block footer %}
		<footer class="footer pt-4 font-small">
			<div class="row">
				<div class="col-md-5">
					<a href="https://www.unomaha.edu/">
						<img id="uno_logo" src="{{url_for('static', filename='images/UNO_Logo.png')}}" alt="UNO Logo" />
					</a>
				</div>
				<div class="col-md-7">
					<div id="copyright">
						© 2018 Copyright: UNO ACM College Chapter
					</div>
				</div>
			</div>
		</footer>
		<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		{% endblock %}
	</div>
</body>
</html>