{% extends 'main/base.html' %}
{% block content %}
	<script src="{{url_for('static', filename='js/quillToolbar.js')}}"></script>
	{% if isLoggedIn and user.canWrite('Page') %}
		<div class="d-flex justify-content-end" id="options">
			<template id="editOption">
				<button type="button" class="btn btn-warning mr-3 mb-2" id="editButton" onclick="edit()">
					Edit <img class="icon ml-1" style="vertical-align: -2px;" src="{{url_for('static', filename='icons/si-glyph-edit.svg')}}" >
				</button>
			</template>
			<template id="otherOptions">
				<button type='submit' form="page-form" class='btn btn-success mr-2 mb-2'>
					Submit <img class="icon ml-1" style="vertical-align: -2px;" src="{{url_for('static', filename='icons/check_circle.svg')}}" >
				</button>
				<button onclick='edit()' type='button' class='btn btn-primary mr-3 mb-2'>
					Cancel <img class="icon ml-1" style="vertical-align: -2px;" src="{{url_for('static', filename='icons/cancel.svg')}}" >
				</button>
			</template>
		</div>

		<script>
			var editMode = true;
			var options = document.getElementById('options');
			var editOptionTemplate = document.getElementById('editOption')
			var otherOptionsTemplate = document.getElementById('otherOptions')
			function edit() {
				var clone = null;
				if(editMode) {
					clone = editOptionTemplate.content.cloneNode(true);
					quillEditor.contentEditable = 'false';
					quillToolbarElement.style.display = 'none';
				}
				else {
					clone = otherOptionsTemplate.content.cloneNode(true);
					quillEditor.contentEditable = 'true';
					quillToolbarElement.style.display = '';
				}

				editMode = !editMode;
				options.innerHTML = ''
				options.appendChild(clone);
			}
		</script>
	{% endif %}

	<div id="page" class="bg-light"></div>

	<link rel="stylesheet" href="{{url_for('static', filename='css/katex.min.css')}}">
	<script src="{{url_for('static', filename='js/katex.min.js')}}"></script>

	<link href="{{url_for('static', filename='css/darcula.css')}}" rel="stylesheet">
	<script src="{{url_for('static', filename='js/highlight.min.js')}}"></script>

	<script src="{{url_for('static', filename='js/quill.min.js')}}"></script>
	<link rel="stylesheet" href="{{url_for('static', filename='css/quill.snow.css')}}">

	<script src="{{url_for('static', filename='js/image-resize.min.js')}}"></script>

	<form id="page-form" action="" method="POST" enctype="multipart/form-data" onsubmit="submit_quill()">
		{{form.csrf_token()}}
		{% for field in form if field.name not in ['csrf_token', 'next'] %}
			<div class="form-group">
				{{field(class_="form-control field")}}
			</div>
		{% endfor %}
	</form>

	{% if isLoggedIn and user.canWrite('Page') %}
		<script>
			var quill = new Quill('#page', {
				modules: {
					syntax: true,
					toolbar: quillToolbar,
					imageResize: {
						displaySize: true
					}
				},
				theme: 'snow'
			});
		</script>
	{% else %}
		<script>
			var quill = new Quill('#page', {
				modules: {
					syntax: true,
					toolbar: quillToolbar,
				},
				theme: 'snow'
			});
		</script>
	{% endif %}

	<script>
		var quillEditor = document.getElementsByClassName('ql-editor')[0];
		var quillToolbarElement = document.getElementsByClassName('ql-toolbar')[0]
		quillToolbarElement.style.display = 'none';
		quillEditor.contentEditable = 'false';

		function submit_quill(event) {
			hidden_text_field.value = JSON.stringify(quill.getContents());
		}

		var hidden_text_field = document.getElementById('delta');
		quill.setContents(JSON.parse(hidden_text_field.value));
	</script>

	{% if isLoggedIn and user.canWrite('Page') %}
		<script>
			edit();
		</script>
	{% endif %}
{% endblock %}