{%- macro flashes(categories=True) -%}
	{% with messages = get_flashed_messages(with_categories=categories) %}
		{% if messages %}
			<ul class="flashes">
				{% if categories %}
					{% for category, message in messages %}
						<li class="alert alert-{{ category }}" role="alert">
							{{ message }}
						</li>
					{% endfor %}
				{% else %}
					{% for message in messages %}
						<li class="alert" role="alert">
							{{ message }}
						</li>
					{% endfor %}
				{% endif %}
			</ul>
		{% endif %}
	{% endwith %}
{%- endmacro  %}

{%- macro make_form(wtform, action="", method="post") -%}
		<form class="form-body" action="{{action}}" method="{{method}}">
			{{ wtform.csrf_token() }}

			{% for field in wtform if field.name != "csrf_token" %}
				{% if field.name != "submit" %}
					<p>{{ field.label() }}</p>
				{% endif %}
				<p>{{ field }}</p>
			{% endfor %}
		</form>
{%- endmacro %}