{%- macro flashes(categories=True) -%}
	{% with messages = get_flashed_messages(with_categories=categories) %}
		{% if messages %}
			<ul class="flashes">
				{% if categories %}
					{% for category, message in messages %}
						<li class="alert alert-{{ category }}" role="alert">
							{{ message }}
						</li>
					{% endfor %}
				{% else %}
					{% for message in messages %}
						<li class="alert" role="alert">
							{{ message }}
						</li>
					{% endfor %}
				{% endif %}
			</ul>
		{% endif %}
	{% endwith %}
{%- endmacro  %}

{%- macro make_form(wtform, action="", method="post") -%}
		<form class="form-body was-validated" action="{{action}}" method="{{method}}" enctype="multipart/form-data">
			{{ wtform.csrf_token() }}

			{% for field in wtform if field.name != "csrf_token" %}
			<div class="form-group">
					{% if field.name not in ["submit", "next", "file"] %}
						{{ field.label() }}
				{% endif %}
					{% if field.name == "submit" %}
					{{ field(class_="btn btn-primary") }}
					{% elif field.name == "file" %}
						<div class="custom-file">
							{{ field(class_="custom-file-input", id="validatedCustomFile") }}
							{{ field.label(class_="custom-file-label") }}
						</div>
					{% else %}
						{{ field(class_="form-control") }}
					{% endif %}
			</div>
			{% endfor %}
		</form>
{%- endmacro %}

{%- macro make_model_table(header, classType, disabled_fields, data) -%}
	<div class="section border border-success">
		<h1 class="section-header text-center">{{header}}</h1>
		<a href="{{classType.getNewRoute()}}"><img class="icon section-add" src="{{url_for('static', filename='icons/si-glyph-plus.svg')}}" ></a>
		<hr>
		<div class="data-section">
			<table>
				<tr>
					{% for name in classType.__dir__() %}
						{% if name is not in disabled_fields %}
							<th>
								{{name.strip().replace('_', ' ').title()}}
							</th>
						{% endif %}
					{% endfor %}
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				{% for datum in data %}
					<tr>
						{% for name in classType.__dir__() %}
							{% if name is not in disabled_fields %}
								<td>
									{% if name == 'id' %}
										<strong>
									{% endif %}
									{% if datum[name]|string|length >= 80 %}
										{{datum[name][:80]}}...
									{% else %}
										{{datum[name]}}
									{% endif %}
									{% if name == 'id' %}
										</strong>
									{% endif %}
								</td>
							{% endif %}
						{% endfor %}
						<td><a href="{{datum.getEditRoute()}}"><img class="icon" src="{{url_for('static', filename='icons/si-glyph-edit.svg')}}" /></a></td>
						<td>
							<form action="{{datum.getDeleteRoute()}}" method="POST">
								<input class="icon delete-confirm" type="image" name="submit" src="{{url_for('static', filename='icons/si-glyph-delete.svg')}}">
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{%- endmacro %}