html, body
{
	height:100%;
    width:100%;
    border:0;
    margin:0;
	padding:0;
}

#content
{
	margin-top: 40px;
}

footer
{
	margin-top: 40px;
	padding-bottom: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

#uno_logo
{
	width: 150px;
	height: 50px;
	margin-left: 10px;
}

#copyright
{
	display: inline-block;
	position: absolute;
	left: 45%;
	top: 40%;
}

#navigation_section, footer
{
	background-color: rgba(1, 130, 172, .3); /* ACM blue */
}

.form-body
{
	margin-top: 50px;
}

.login-header
{
	position: absolute;
	left: 43%;
}

.flashes
{
	list-style: none;
}