html, body
{
	height:100%;
    width:100%;
    border:0;
    margin:0;
	padding:0;
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}

#content
{
	margin-top: 30px;
	padding-bottom: 2.5em;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -200px;
}

#uno_logo
{
	width: 150px;
	height: 50px;
	margin-left: 10px;
}

#navigation_section, footer
{
	background-color: rgba(1, 130, 172, .3); /* ACM blue */
}

#copyright
{
	margin-top: 10px;
}

.push
{
	height: 40%;
}

.footer
{
	position: absolute;
	right: 0;
	bottom: -1;
	left: 0;
	padding: 1rem;
	height: 100px;
}

.form-body
{
	margin-top: 40px;
}

.form-header
{
	position: absolute;
	left: 43%;
	margin-top: 30px;
}

.flashes
{
	list-style: none;
}

table
{
	margin-left: 10px;
	width: 100%;
}

.data-section
{
	overflow: hidden;
	text-align: center;
	margin-bottom: 10px;
}

.icon
{
	width: 15px;
	height: auto;
	vertical-align: middle;
}

.list-group-item
{
	margin-top: 10px;
}

.delete-confirm
{
	text-decoration: none;
	border: none;
}

.heading
{
	margin-left: 40px;
	font-size: 3em;
}

.event-image
{
	width: auto;
	height: 300px;
}

.fade-text
{
	max-height: 115px;
	overflow: hidden;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}