html, body
{
	height:100%;
    width:100%;
    border:0px;
    margin:0;
    padding:0;
}

#content
{
	margin-top: 20px;
}

#calendar
{
	margin: 0 auto;
	width: 45%;
}

#uno_logo
{
	width: 150px;
	height: 50px;
	margin-left: 10px;
	
}

footer
{
	margin-top: 40px;
	padding-bottom: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

#copyright
{
	margin: 0 33%;
	display: inline-block;
}

#inner_footer
{
	margin: 0;
	padding: 0;
}

#navigation_section, footer
{
	background-color: rgba(1, 130, 172, .3); /* ACM blue */
}