{% extends "main/base.html" %}
{% block header %}
	<nav id="admin-nav" class="navbar bg-info">
		<a id="admin-brand" class="navbar-brand" href="{{url_for('admin.index')}}">Administration</a>
		<div class="float-right">
			<span id="userType">Welcome, {{user.username}}.</span>
			<a class="text-white" href="{{url_for('main.index')}}">VIEW SITE</a> / 
			<a class="text-white" href="{{url_for('admin.logout')}}">LOG OUT</a>
		</div>
	</nav>
	<nav style="margin-top: 0;">
		<ol class="breadcrumb">
		{% block breadcrumb %}
			<li class="breadcrumb-item active">Home</li>
		{% endblock %}
		</ol>
	</nav>
{% endblock %}
{% block head %}
	{{super()}}
	<style>
		#content
		{
			margin-top: 0;
		}
	</style>
	<link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}
{% block admin_active %}active{% endblock %}