{% extends 'admin/base.html' %}
{% block dashboard_active %}active{% endblock %}
{% set model_pretty = model.__name__.lower().replace('_', ' ').title() %}
{% block title %}{{model_pretty}}s{% endblock %}
{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{{url_for('admin.index')}}">Home</a></li>
	<li class="breadcrumb-item active">{{model.__name__.capitalize().replace('_', ' ')}}s</li>
{% endblock %}
{% block content %}
	<div class="ml-2">
		<h4 class="d-inline-block text-muted">Select {{model_pretty}} to change</h4>
		{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
			<div id="flashes" class="d-inline-block">
				<span class="alert alert-{{messages[0][0]}} ml-5">
					{{messages[0][1]}}
				</span>
			</div>
			{% endif %}
		{% endwith %}
		{% if user.canWrite(model.__name__) %}
			<a href="{{model.getNewRoute()}}" class="badge badge-secondary float-right p-2 mr-1 text-white">
				ADD {{model.__name__.upper().replace('_', ' ')}}
				<img class="icon align-bottom ml-1" src="{{url_for('static', filename='icons/si-glyph-plus.svg')}}" >
			</a>
		{% endif %}
	</div>
	<div>
		<div class="ml-2 my-4 py-2 d-flex flex-row bg-light w-100 align-items-center">
			<img class="ml-1" src="{{url_for('static', filename='icons/search.svg')}}" >
			<div class="input-group input-group-sm d-inline-block">
				<input id="search" type="text" class="form-control d-inline-block w-50 rounded-pill" onkeyup="search('search')" onkeydown="search('search')">
				<button type="button" onclick="resetSearch('search')" class="btn btn-outline-secondary btn-sm">Reset</button>
			</div>
		</div>
		<div class="text-muted d-flex flex-row ml-4 mb-3 w-50 align-items-center">
			<div class="text-muted input-group w-75" id="action-select-group">
				<label for="action-select">Action:</label>
				<select class="mx-2 custom-select rounded h-100" id="action-select">
					<option selected>---------</option>
					{% for action in actions %}
						<option>{{action}}</option>
					{% endfor %}
				</select>
				<button onclick="sendAction()" class="btn btn-outline-secondary btn-sm mr-2">Go</button>
			</div>
			<span><span id="selectedAmount">0</span> of <span id="maxAmount">{{data|length}}</span> selected</span>
		</div>
		<table class="ml-3 table table-striped table-hover" id="model-table">
			<thead>
				<tr>
					<th>
						<div class="checkbox">
							<input type="checkbox" id="checkbox-main" onchange="mainCheckboxChange(this)">
							<label for="checkbox-main"></label>
						</div>
					</th>
					{% for field in model.__dir__() if field not in hidden_fields %}
						<th class="p-2 align-middle" scope="col">
							{{field.replace('_', ' ').upper()}}
						</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for datum in data %}
					{% set firstFound = {'found': True} %}
					<tr unique="{{datum['id']}}">
						<td>
							<div class="checkbox">
								<input type="checkbox" id="checkbox-{{datum['id']}}" onchange="checkboxChange(this)">
								<label for="checkbox-{{datum['id']}}"></label>
							</div>
						</td>
						{% for field in model.__dir__() if field not in hidden_fields %}
							<td class="align-middle">
								{% if firstFound.found %}
									<a href="{{datum.getEditRoute()}}">
								{% endif %}
								{{datum[field]}}
								{% if firstFound.update({'found': False}) %}
									</a>
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="ml-4 text-muted">
			<span id="amount" tag="{{model_pretty}}">{{data|length}}</span> <span id="model-amount-tag">{{model_pretty}}{% if data|length != 1 %}s{% endif %}</span>
		</div>
		<div id="model-count-line" class="ml-3">
			<hr>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{super()}}
	<script src="{{url_for('static', filename='js/alertFade.js')}}"></script>
	<script src="{{url_for('static', filename='js/getAllModel.js')}}"></script>
{% endblock %}