{% extends 'admin/base.html' %}
{% block dashboard_active %}active{% endblock %}
{% import "main/utils.html" as utils %}
{% block content %}
	{{super()}}
	{{utils.flashes()}}
	<div class="row">
			{% for header, class, disabled_fields, objs in data %}
				{% if loop.index != 0 and loop.index % 3 == 0 %}
					<div class="w-100"></div>
				{% endif %}
				<div class="col-md">
					{{utils.make_model_table(header, class, disabled_fields, objs)}}
				</div>
			{% endfor %}
		</div>
{% endblock %}
{% block footer %}
	{{super()}}
	<script src="{{url_for('static', filename='js/deleteLinks.js')}}"></script>
{% endblock %}