{% extends 'admin/base.html' %}
{% import 'main/utils.html' as utils %}
{% block events_active %}active{% endblock %}
{% block content %}
	{{super()}}
	<div class="container">
		{{ utils.flashes() }}
		<div class="form-header">
			<h1>
				{% if type == 'new' %}
					Create an 
				{% elif type == 'edit' %}
					Edit an 
				{% endif %}
				Event
			</h1>
			{{utils.make_form(form)}}
		</div>
	</div>
{% endblock %}
{% block footer %}
{{super()}}
<script src="{{url_for('static', filename='js/file.js')}}"></script>
{% endblock %}