{% extends 'main/base.html' %}
{% import 'main/utils.html' as utils %}
{% block title %}Suggestions Box{% endblock %}
{% block suggestions_active %}active{% endblock %}
{% block dashboard_active %}active{% endblock %}
{% block content %}
{{super()}}
<div class="container">
	{{ utils.flashes() }}
	<div class="form-header">
		<h1>
			{% if type == 'new' %}
				Give a Suggestion
			{% elif type == 'edit' %}
				Edit Suggestion
			{% endif %}
		</h1>
		{{ utils.make_form(form) }}
	</div>
</div>
{% endblock %}